---
http_interactions:
- request:
    method: post
    uri: https://api.sendblue.co/api/send-message
    body:
      encoding: UTF-8
      string: '{"number":"14154812629","content":"Hello from SendBlue!"}'
    headers:
      Sb-Api-Key-Id:
      - 9015f50ef5ae0314dee0464616dbfd16
      Sb-Api-Secret-Key:
      - b212c3e429ba69be1d2d1e8b691325b3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-+avvTfor4QhWEHAwQyTlni19PuM"
      X-Cloud-Trace-Context:
      - 0a5d27b752f8bf4910728ec3ba7ffea0;o=1
    body:
      encoding: ASCII-8BIT
      string: '{"status":"PENDING","message_handle":"ab1698fe-eb97-4a42-be1d-39ec8607c181","message":"Timeout
        waiting for message status, query status with message_handle"}'
  recorded_at: Sat, 04 Jul 2020 16:13:39 GMT
recorded_with: VCR 6.0.0
